/* Main CSS */
.extra-lh{
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}
/* Above is Unused atm */

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float:left;
  width:100%;
  position: relative;
}

/* END required styles */
.swipe-wrap > div > span {
	padding: 25px 10px 25px 10px;
}

#div > .ui-listview , .ui-panel-inner > .ui-listview {
	margin : 0;
}